USE [QL_ShopQuanAo]
GO
/****** Object:  Database [QL_ShopQuanAo]    Script Date: 10/08/2020 3:05:34 CH ******/
ALTER DATABASE [QL_ShopQuanAo] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_ShopQuanAo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_ShopQuanAo]
GO
/****** Object:  Table [dbo].[ChiTietDonDatHang]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatHang](
	[maDDH] [nchar](10) NOT NULL,
	[maMH] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_ChiTietDonDatHang] PRIMARY KEY CLUSTERED 
(
	[maDDH] ASC,
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHD] [nchar](10) NOT NULL,
	[maMH] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapHang]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapHang](
	[maPN] [nchar](10) NOT NULL,
	[maMH] [nchar](10) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietPhieuNhapHang] PRIMARY KEY CLUSTERED 
(
	[maPN] ASC,
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[maDDH] [nchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [float] NULL,
	[maNV] [nchar](10) NULL,
	[maNCC] [nchar](10) NULL,
 CONSTRAINT [PK_DonDatHang] PRIMARY KEY CLUSTERED 
(
	[maDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[maMH] [nchar](10) NOT NULL,
	[tenMH] [nvarchar](50) NULL,
	[Size] [nchar](5) NULL,
	[DonGia] [float] NULL,
	[maLoaiHH] [nchar](10) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [nchar](10) NOT NULL,
	[NgayLapHD] [date] NULL,
	[TongTien] [float] NULL,
	[maNV] [nchar](10) NULL,
	[maThe] [nchar](10) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maThe] [nchar](10) NOT NULL,
	[tenKH] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nchar](10) NULL,
	[DiemTL] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiHangHoa]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHangHoa](
	[maLoaiHH] [nchar](10) NOT NULL,
	[tenLoaiHH] [nvarchar](40) NULL,
 CONSTRAINT [PK_LoaiHangHoa] PRIMARY KEY CLUSTERED 
(
	[maLoaiHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [nchar](10) NOT NULL,
	[tenNCC] [nvarchar](30) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nchar](12) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nchar](10) NOT NULL,
	[tenNV] [nvarchar](30) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nchar](10) NULL,
	[TenTK] [varchar](15) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhieuNhapHang]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapHang](
	[maPN] [nchar](10) NOT NULL,
	[maDDH] [nchar](10) NULL,
	[NgayNhap] [date] NULL,
	[maNV] [nchar](10) NULL,
 CONSTRAINT [PK_PhieuNhapHang] PRIMARY KEY CLUSTERED 
(
	[maPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/08/2020 3:05:34 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTK] [varchar](15) NOT NULL,
	[MatKhau] [varchar](15) NULL,
	[Quyen] [varchar](10) NULL,
	[maNV] [nchar](10) NULL,
	[HoatDong] [bit] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietDonDatHang] ([maDDH], [maMH], [SoLuong], [DonGia]) VALUES (N'DDH001    ', N'MHH001    ', 10, 50000000)
INSERT [dbo].[ChiTietDonDatHang] ([maDDH], [maMH], [SoLuong], [DonGia]) VALUES (N'DDH001    ', N'MHH006    ', 10, 50000000)
INSERT [dbo].[ChiTietDonDatHang] ([maDDH], [maMH], [SoLuong], [DonGia]) VALUES (N'DDH002    ', N'MHH002    ', 50, 30000000)
INSERT [dbo].[ChiTietPhieuNhapHang] ([maPN], [maMH], [SoLuong]) VALUES (N'PN001     ', N'MHH001    ', 10)
INSERT [dbo].[ChiTietPhieuNhapHang] ([maPN], [maMH], [SoLuong]) VALUES (N'PN001     ', N'MHH006    ', 10)
INSERT [dbo].[ChiTietPhieuNhapHang] ([maPN], [maMH], [SoLuong]) VALUES (N'PN002     ', N'MHH002    ', 50)
INSERT [dbo].[DonDatHang] ([maDDH], [NgayLap], [TongTien], [maNV], [maNCC]) VALUES (N'DDH001    ', CAST(0x0D410B00 AS Date), 22000000, N'NV005     ', N'NCC001    ')
INSERT [dbo].[DonDatHang] ([maDDH], [NgayLap], [TongTien], [maNV], [maNCC]) VALUES (N'DDH002    ', CAST(0x0E410B00 AS Date), 33000000, N'NV005     ', N'NCC002    ')
INSERT [dbo].[DonDatHang] ([maDDH], [NgayLap], [TongTien], [maNV], [maNCC]) VALUES (N'DDH003    ', CAST(0x0F410B00 AS Date), 11000000, N'NV001     ', N'NCC003    ')
INSERT [dbo].[HangHoa] ([maMH], [tenMH], [Size], [DonGia], [maLoaiHH]) VALUES (N'MHH001    ', N'Quần tây cụt 1 chân', N'M    ', 300000, N'MH001     ')
INSERT [dbo].[HangHoa] ([maMH], [tenMH], [Size], [DonGia], [maLoaiHH]) VALUES (N'MHH002    ', N'Quần tây cụt 1 chân ', N'L    ', 350000, N'MH001     ')
INSERT [dbo].[HangHoa] ([maMH], [tenMH], [Size], [DonGia], [maLoaiHH]) VALUES (N'MHH003    ', N'Quần Jean ống so le', N'M    ', 400000, N'MH001     ')
INSERT [dbo].[KhachHang] ([maThe], [tenKH], [DiaChi], [DienThoai], [DiemTL]) VALUES (N'KH001     ', N'Nguyễn Tấn Sỹ', N'456 Lê Trọng Tấn , Quận 1, Thành phố Hồ Chí Minh', N'0765422998', 0)
INSERT [dbo].[KhachHang] ([maThe], [tenKH], [DiaChi], [DienThoai], [DiemTL]) VALUES (N'KH002     ', N'Nguyễn Bảo Sang', N'305 Hậu Giang, Quận 3, Thành phố Hồ Chí Minh', N'0764277662', 90)
INSERT [dbo].[KhachHang] ([maThe], [tenKH], [DiaChi], [DienThoai], [DiemTL]) VALUES (N'KH003     ', N'Huỳnh Ngọc Trí', N'713 Lũy Bán Bích, Quận 6, Thành phố Hồ Chí Minh', N'0764236699', 40)
INSERT [dbo].[LoaiHangHoa] ([maLoaiHH], [tenLoaiHH]) VALUES (N'MH001     ', N'Quần')
INSERT [dbo].[LoaiHangHoa] ([maLoaiHH], [tenLoaiHH]) VALUES (N'MH002     ', N'Áo')
INSERT [dbo].[LoaiHangHoa] ([maLoaiHH], [tenLoaiHH]) VALUES (N'MH003     ', N'Giày ')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC001    ', N'Louis Vuitton', N'Opera View Building, 161 Đồng Khởi, Street,, Street, Quận 1, Thành phố Hồ Chí Minh', N'02838276318 ')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC002    ', N'Gucci', N'245 Lê Trọng Tấn, Quận 3, Thành phố Hồ Chí Minh', N'02838234566 ')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC003    ', N'Chanel', N'123 Hậu Giang, Quận 4, Thành phố Hồ Chí Minh', N'02838785318 ')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [NgaySinh], [DiaChi], [DienThoai], [TenTK]) VALUES (N'NV001     ', N'Nguyễn Hữu Trí', CAST(0x9A220B00 AS Date), N'123 Hậu Giang', N'0765412391', N'TK001')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [NgaySinh], [DiaChi], [DienThoai], [TenTK]) VALUES (N'NV002     ', N'Huỳnh Tấn Lực', CAST(0xBA220B00 AS Date), N'147 Lê Trọng Tấn', N'0754236875', N'TK002')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [NgaySinh], [DiaChi], [DienThoai], [TenTK]) VALUES (N'NV003     ', N'Nguyễn Bảo Sỹ', CAST(0xD7220B00 AS Date), N'344 Tấn Long', N'0784521542', N'TK003')
INSERT [dbo].[PhieuNhapHang] ([maPN], [maDDH], [NgayNhap], [maNV]) VALUES (N'PN001     ', N'DDH001    ', CAST(0x0D410B00 AS Date), NULL)
INSERT [dbo].[PhieuNhapHang] ([maPN], [maDDH], [NgayNhap], [maNV]) VALUES (N'PN002     ', N'DDH002    ', CAST(0x0E410B00 AS Date), NULL)
INSERT [dbo].[PhieuNhapHang] ([maPN], [maDDH], [NgayNhap], [maNV]) VALUES (N'PN003     ', N'DDH003    ', CAST(0x0F410B00 AS Date), NULL)
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [Quyen], [maNV], [HoatDong]) VALUES (N'TK001', N'TK001', N'Admin', N'NV001     ', 1)
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [Quyen], [maNV], [HoatDong]) VALUES (N'TK002', N'TK002', N'Admin', N'NV002     ', 1)
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [Quyen], [maNV], [HoatDong]) VALUES (N'TK003', N'TK003', N'User', N'NV003     ', 0)
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHang_DonDatHang] FOREIGN KEY([maDDH])
REFERENCES [dbo].[DonDatHang] ([maDDH])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK_ChiTietDonDatHang_DonDatHang]
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonDatHang_HangHoa] FOREIGN KEY([maMH])
REFERENCES [dbo].[HangHoa] ([maMH])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang] CHECK CONSTRAINT [FK_ChiTietDonDatHang_HangHoa]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HangHoa] FOREIGN KEY([maMH])
REFERENCES [dbo].[HangHoa] ([maMH])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HangHoa]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapHang_HangHoa] FOREIGN KEY([maMH])
REFERENCES [dbo].[HangHoa] ([maMH])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang] CHECK CONSTRAINT [FK_ChiTietPhieuNhapHang_HangHoa]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhapHang_PhieuNhapHang] FOREIGN KEY([maPN])
REFERENCES [dbo].[PhieuNhapHang] ([maPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang] CHECK CONSTRAINT [FK_ChiTietPhieuNhapHang_PhieuNhapHang]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhaCungCap] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhaCungCap]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [FK_DonDatHang_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [FK_DonDatHang_NhanVien]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_LoaiHangHoa] FOREIGN KEY([maLoaiHH])
REFERENCES [dbo].[LoaiHangHoa] ([maLoaiHH])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_LoaiHangHoa]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maThe])
REFERENCES [dbo].[KhachHang] ([maThe])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([TenTK])
REFERENCES [dbo].[TaiKhoan] ([TenTK])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapHang_DonDatHang] FOREIGN KEY([maDDH])
REFERENCES [dbo].[DonDatHang] ([maDDH])
GO
ALTER TABLE [dbo].[PhieuNhapHang] CHECK CONSTRAINT [FK_PhieuNhapHang_DonDatHang]
GO
ALTER TABLE [dbo].[PhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapHang_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuNhapHang] CHECK CONSTRAINT [FK_PhieuNhapHang_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
